<% if not notice.nil? then%>
<div class="contain">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11"><%= notice %></div>
  </div>
</div>
<% end %>

<!--body-->
<div class="container">
  <div class="row">
    <!--サイドの余白確保-->
    <div class="col-lg-1"></div>
    <!--サイドの余白確保-->

    <!--Plofile_section-->
    <!--ユーザープロフィール部-->
    <div class="col-lg-3">
      <div class=""><%= render 'users/profile', person: @book.user %></div>
      <!--ユーザープロフィール部-->

      <!--新規投稿-->
      <div class=""><%= render 'books/new', book_new: @book_new %></div>
      <!--新規投稿-->
    </div>
    <!--Plofile_section-->

    <!--リスト部-->
    <div class="col-lg-7">
      <% title_column = ["", "Title", "Opinion","",""] %>
      <table>
        <tr>
          <th><%= title_column.shift %></th>
          <th><%= title_column.shift %></th>
          <th><%= title_column.shift %></th>
          <th><%= title_column.shift %></th>
          <th><%= title_column.shift %></th>
        </tr>
        <tr>
          <td>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'60x60' %><br>
            <% if current_user.id != @book.user_id then %>
            <%= link_to @book.user.name, user_path(@book.user) %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
          <td>
            <% if current_user.id == @book.user_id then %>
            <%= link_to "Edit", edit_book_path(@book) %>
            <% end %>
          </td>
          <td>
            <% if current_user.id == @book.user_id then %>
            <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <!--リスト部-->

    <!--サイドの余白確保-->
    <div class="col-lg-1"></div>
    <!--サイドの余白確保-->
  </div>
</div>
