<% if not notice.nil? then%>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11"><%= notice %></div>
  </div>
</div>
<% end %>

<!--body-->
<div class="container">
  <div class="row">
    <!--サイドの余白確保-->
    <div class="col-md-1"></div>
    <!--サイドの余白確保-->

    <!--Plofile_section-->
    <!--ユーザープロフィール部-->
    <div class="col-md-3">
      <div class=""><%= render 'users/profile', person: @user %></div>
      <!--ユーザープロフィール部-->

      <!--新規投稿-->
      <div class=""><%= render 'books/new', book_new: @book_new %></div>
      <!--新規投稿-->
    </div>
    <!--Plofile_section-->

    <!--リスト部-->
    <div class="col-md-7">
      <h2>Books</h2>
      <% title_column = ["", "Title", "Opinion",""] %>
      <table>
        <tr>
          <th><%= title_column.shift %></th>
          <th><%= title_column.shift %></th>
          <th><%= title_column.shift %></th>
        </tr>
        <% @books.each do |book| %>
        <tr>
          <td>
            <%= link_to user_path(book.user_id) do %>
            <%= attachment_image_tag book.user, :profile_image, size:'100x100', format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>
            <% end %>
          </td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <!--リスト部-->

    <!--サイドの余白確保-->
    <div class="col-md-1"></div>
    <!--サイドの余白確保-->
  </div>
</div>
